<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Reset your password</title>
</head>
<body>
    <h2>Reset Your Password</h2>
    <p>Hello {{UserName}},</p>
    <p>We received a request to reset your password. Click the link below to reset your password:</p>
    <p><a href="{{ResetLink}}">Reset Password</a></p>
    <p>This link will expire in 1 hour.</p>
    <p>If you didn't request this password reset, please ignore this email.</p>
    <p>Best regards,<br>Service Perfect CV Team</p>
</body>
</html>