# .NET build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.swp
*.tmp
*.log

# IDEs
.vs/
.vscode/

# Git
.git/
.gitignore
.gitattributes

# OS files
.DS_Store
Thumbs.db

# Node/web assets if any
node_modules/

# Publish output (created by Docker build)
/app/
/out/
/publish/
